IMPACT_LINK=https://trackdigi.gotrackier.com/click?campaign_id=408&pub_id=196
GOOGLE_SHEET_WEBHOOK=https://script.google.com/macros/s/AKfycbw_06TVZzUurJbNcllhjhTjuNOlcatlTb8hsQfo0b9S7lSZTiKuM5mSQhalANsfi116fw/exec
CAMPAIGN_TAG=edx_9july
PROXY_URL=http://r_2b61c33a3c-country-us:f6d5155135@pool3.soxy.pro:5000
PORT=3000
